@import "./base.css";
@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.3s;
  padding: 3px;
}
* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge */
  user-select: none; /* Standard */
}
